sw-header {

	nav {
		margin-bottom: 40px;

		.logo {
			display: inline-block;
		}

		ul {
			list-style: none;
			margin: 40px 0 0;
			padding: 0;
			float: right;
		}

		li {
			float: left;
			margin-left: 45px;

			&.active {
				a {
					color: #33a859;
				}
			}

			a {
				text-transform: uppercase;
				font-size: 15px;
				color: #161616;
				font-weight: 600;
				letter-spacing: 4px;

				&:hover {
					text-decoration: none;
					color: #33a859;
				}
			}
		}

	}
  
}
