<label ng-if="ctrl.label">
  {{ctrl.label}}
  <span ng-if="ctrl.required" class="icon-red">*</span>
</label>

<div class="row sw-date-time-picker">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="sw-date-time-picker__date" ng-class="(ctrl.onlyDate) ? 'sw-date-time-picker__date-full' : ''">
            <p class="input-group">
                <input type="text" name="{{ctrl.componetName}}" uib-datepicker-popup="dd/MM/yyyy" ng-model="ctrl.model"
                    datepicker-options="ctrl.options" data-ng-click="ctrl.opened = !ctrl.opened" is-open="ctrl.opened" on-open-focus="false"
                    current-text="{{:: 'TODAY' | translate }}" clear-text="{{:: 'CLEAR' | translate }}" close-text="{{:: 'CLOSE' | translate }}"
                    ng-required="ctrl.required" datepicker-options="ctrl.datepickerOptions" sw-datetimepicker-timezone ng-change="ctrl._onUpdate()"
                    class="sw-date-time-picker-input"
                />

                <span class="input-group-btn">
                    <button ng-click="ctrl.opened = !ctrl.opened" type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
        </div>
        <div class="sw-date-time-picker__time pull-left" ng-if="!ctrl.onlyDate">
            <uib-timepicker ng-model="ctrl.model" sw-datetimepicker-timezone show-meridian="false" show-spinners="false">
            </uib-timepicker>
        </div>
    </div>
</div>
