body {
	background-color: #F5F5F5;
	font-family: 'Ubuntu', sans-serif;
}

.bt {
	background-color: #ccc;
	color: #fff;
	text-align: center;
	font-size: 25px;
	padding: 8px 40px;
	border-radius: 5px;
	border: 0;
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	position: relative;
	overflow: hidden;

	&::before {
		content: "";
		position: absolute;
		z-index: -1;
		left: 0;
		right: 100%;
		bottom: 0;
		height: 4px;
		-webkit-transition-property: right;
		transition-property: right;
		-webkit-transition-duration: 0.4s;
		transition-duration: 0.4s;
		-webkit-transition-timing-function: ease-out;
		transition-timing-function: ease-out;
	}

	&:hover,
	&:focus {
		&::before {
 			right: 0;
		}
	}

	&.bt--green {
		background-color: #33A859;

		&::before {
			background: #1e6635;
		}
	}

	&.bt--black {
		background-color: #161616;

		&::before {
			background: #333;
		}
	}
}
