body {
	background-color: #F5F5F5;
	font-family: 'Ubuntu', sans-serif;
}

.bt {
	background-color: #33A859;
	color: #fff;
	text-align: center;
	font-size: 25px;
	padding: 8px 40px;
	border-radius: 5px;
	border: 0;
}