sw-login {

	.login {
		.container {
			margin: 0 auto;
			max-width: 400px;
		}

		.logo {
			max-width: 100%;
			display: block;
			margin: 30px auto;
		}

		legend {
			color: #161616;
			font-size: 25px;
			border: 0;
			margin-bottom: 25px;
		}

		label {
			color: #161616;
			display: block;
			font-size: 25px;
			font-weight: 400;
		}

		input {
			width: 100%;
			height: 50px;
			border: solid 1px #B2B2B2;
			line-height: 50px;
			border-radius: 5px;
			padding-left: 15px;
			margin-bottom: 30px;
		}

		.forgot-password {
			color: #161616;
			font-size: 15px;
			margin-left: 45px;
			text-decoration: underline;
		}
	}

	@media screen and (min-width: 1024px) {

	}

	@media screen and (min-width: 480px) {

	}
}
