<section class="login">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img class="logo" src="img/login/logo.png" alt="logo">
                <form>
                    <fieldset>
                        <legend>Seja bem-vindo ao CETED.<br>Faça login abaixo para continuar.</legend>

                        <label for="email">Seu e-mail:</label>
                        <input id="email" name="email" type="text" >
                        
                        <label for="password">Sua senha:</label>
                        <input id="password" name="password" type="password">
                        
                        <button class="bt">Entrar</button>
                        <a class="forgot-password" href="#">Esqueceu a senha?</a>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</section>