<div class="modal-header">
  <h3 class="modal-title">Corte a imagem.</h3>
</div>

<div class="modal-body text-center">
  <div class="row">
    <div ng-if="ctrl.sourceImage">
      <img ng-if="ctrl.sourceImage"
        ng-src="{{ctrl.sourceImage}}"
        style="max-width: {{ctrl.optionsCropper.maxWidth}}px;"
        ng-cropper
        ng-cropper-proxy="ctrl.cropperProxy"
        ng-cropper-show="ctrl.showEvent"
        ng-cropper-hide="ctrl.hideEvent"
        ng-cropper-options="ctrl.options">
    </div>
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-default" type="button" ng-click="ctrl.cancel()">Cancel</button>
  <button class="btn btn-primary" type="button" ng-click="ctrl.ok()">OK</button>
</div>
