<input id="{{ctrl.idCropper}}" class="hidden" type="file" onchange="angular.element(this).scope().ctrl.imageChange(this.files[0])">
<div ng-if="!ctrl.imgUploaded && !ctrl.imageSourceCropped" class="photo-icon">
  <label for="{{ctrl.idCropper}}">
    <i class="fa fa-camera" aria-hidden="true"></i>
  </label>
</div>

<div ng-class="{'invisible': !ctrl.imageSourceCropped || ctrl.addInvisibleClass }" class="row image-card">
  <img
    style="border-style: solid; border-width: 1px; border-color: #CCC;"
    data-ng-style="{'max-width': ctrl.optionsCropper.imagePreviewWidth, 'max-height': ctrl.optionsCropper.imagePreviewHeight}"
    ng-src="{{ctrl.imageSourceCropped}}">
</div>

<div ng-if="ctrl.imgUploaded" ng-class="{'invisible': !ctrl.imgUploaded || ctrl.addInvisibleClass }" class="row image-card">
  <img
    style="border-style: solid; border-width: 1px; border-color: #CCC;"
    data-ng-style="{'max-width': ctrl.optionsCropper.imagePreviewWidth, 'max-height': ctrl.optionsCropper.imagePreviewHeight}"
    ng-src="{{ctrl.urlAmazonPhotos + ctrl.imgUploaded}}">
</div>

<div ng-if="(ctrl.imageSourceCropped || ctrl.imgUploaded) && !ctrl.addInvisibleClass" class="row">
  <button ng-click="ctrl.remove()" style="margin: 10px;" class="btn btn-default">
    <i class="fa fa-trash-o cursor-pointer"></i>

    Remover
  </button>
</div>
